@{
	ViewData["Title"] = "Головна Сторінка";
}

    <div class="d-flex justify-content-center py-5">
  <div class="card mb-3" style="max-width: 1300px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="~/images/ua.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Підтримай українську армію</h3>
          <hr>
          <ul class="list-unstyled">
            <li class="card-text">
              <h5>Підтримати армію з картки будь-якого банку:</h5></li>
            <li class="card-text"><strong>IBAN:</strong> UA223226690000026007300905964</li>
            <li class="card-text"><strong>ЄДРПОУ:</strong> 39696398</li>
            <li class="card-text"><strong>Отримувач:</strong> Благодійна Організація «Міжнародний благодійний фонд «Повернись живим»</li>
            <li class="card-text"><strong>Призначення платежу:</strong> Благодійна допомога військовослужбовцям.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>