@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<main class="py-3">
  <section class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      
      <table class="table table-hover">
        <tbody>
          <tr class="table-success">
            <th>{{message}}</th>

          </tr>
        </tbody>
      </table>
    </header>

    <div class="row">

     
      <div class="col-md-3">

        <div class="card" style="width: 18rem;">

          

          <div class="card-body">
            <figure class="text-center">
              <blockquote class="blockquote">
                <h5>{{username}}</h5>
              </blockquote>
              <figcaption class="blockquote-footer">
                {{email}}
              </figcaption>
            </figure>

            <button type="button" class="w-100 rounded-pill btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Змінити нік
            </button>

            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">

                <div class="modal-content">
                  <form action="/edit_profile" method="POST">
                    <div class="modal-header">

                      <h5 class="modal-title" id="exampleModalLabel">Змінити імя</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <input type="text" name="change_username" class="form-control" id="floatingInput" placeholder="Імя*" required>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                      <button type="submit" class="btn btn-success">Зберегти зміни</button>

                    </div>
                  </form>
                </div>
              </div>
            </div>

            
                <div class="dropdown text-end py-3">
              <strong class="dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    More...
  </strong>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
                <li>
                  <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
                </li>
                <li><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
                <li><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="nav-link px-2 text-dark"><strong>Останній візит</strong> {{last_seen}}</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="nav-link text-dark px-2">Кількість замовлень  <strong>{{total_orders}}</strong></a></li>
              </ul>
              
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr>
    <!-- Button trigger modal -->

    </div>

  </section>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
