@*
   
*@


<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>@ViewData["Title"] - TaiFood</title>
  
    
    
</head>
<!-- Обовязкова частина коду -->

<body class="bg-light">
  <!-- Шапка сайту -->
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2 " width="40" height="32"></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <img src="~/images/head.png" width="40" height="40">

          <li><a href="/" class="nav-link px-2 text-white">Головна</a></li>

          <!-- в href="#" замість # силка на Головна -->
          <!-- в text-secondary якшо це не сторінка на якій ви знаходитесь потрібно використати text-white  -->

          <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Menu" asp-action="Wok">Вок</a>
          <!-- в href="#" замість # силка на Вок -->
          <!-- в text-white якшо це сторінка на якій ви знаходитесь потрібно використати text-secondary  -->

          <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Menu" asp-action="Sushi">Суші</a></li>

          <!-- в href="#" замість # силка на Суші -->
          <!-- в text-white якшо це сторінка на якій ви знаходитесь потрібно використати text-secondary  -->

          <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Menu" asp-action="Rolls">Роли</a></li>

          <!-- в href="#" замість # силка на Роли -->
          <!-- в text-white якшо це сторінка на якій ви знаходитесь потрібно використати text-secondary  -->

          <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Home" asp-action="Stock">Акції</a></li>

          <!-- в href="#" замість # силка на Акції -->
          <!-- в text-white якшо це сторінка на якій ви знаходитесь потрібно використати text-secondary  -->

        </ul>

        <!-- Управління кошиком -->
        <div class="text-end">

          <!-- Сумма на ціну вибраного товару -->
          
            
            
          <button type="button" class="btn btn-outline-light me-2">@ViewBag.totalPrice</button>

          <!-- Перехід до кошику -->

          <a class="btn btn-warning me-2" asp-area="" asp-controller="Payment" asp-action="Bucket">Кошик</a>

          <a asp-area="" asp-controller="Authentication" asp-action="Login" type="button" class=""><img class="" src="~/images/login.png" width="52"></a>
        </div>
        <!-- Управління кошиком -->
      </div>
    </div>

  </header>
  <!-- Кінець Шапки сайту -->

  @RenderBody()

  <!-- back, для повторення в Flask. Не змінна частина коду. ОБОВЯЗКОВА ЧАСТИНА КОДУ-->
  <div class="container ">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">

        <p class="text-muted">Лапша що викликає <strong class="text-danger">ЗАЛЕЖНІСТЬ!!!!!!!</strong> </p>
        <img src="~/images/image.gif" width="400" height="200">
      </div>
      <!-- Пусте місце -->
      <div class="col">

      </div>

      <div class="col">
        <!-- Пусте місце -->
      </div>
      <div class="col">
        <h5>Тех підтримка</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">kovass04@gmail.com</a></li>

          <!-- імейл на всякий для тех підтримки за допомогою href="#" можна зробити силкою -->

          <li><a class="nav-link p-0 text-muted">Lviv © 2022</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Меню</h5>
        <ul class="nav flex-column">
            
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Menu" asp-action="Wok">Вок</a></li>

          <!-- в href="#" замість # силка на Вок -->

          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Menu" asp-action="Sushi">Суші</a></li>

          <!-- в href="#" замість # силка на Суші -->

          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Menu" asp-action="Rolls">Роли</a></li>

          <!-- в href="#" замість # силка на Роли -->

          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="Stock">Акції</a></li>

          <!-- в href="#" замість # силка на Акції -->
        </ul>
      </div>

    </footer>
  </div>

  <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!--ОБОВЯЗКОВА ЧАСТИНА КОДУ-->
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>