@using Microsoft.AspNetCore.Identity
@using test_case.Areas.Identity.Data

@inject SignInManager<test_caseUser> SignInManager
@inject UserManager<test_caseUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
 
        <a id="manage" type="button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img class="" src="~/images/login.png" width="52"></a>
   
    
}
else
{
        <a asp-area="Identity" asp-page="/Account/Login" type="button" class=""id="login"><img class="" src="~/images/login.png" width="52"></a>   
}

